/*эти стили переносить не нужно*/
@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background: #f5f5f5;
    font-family: 'Panton', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
}

.main-content {
    flex: 1 0 auto;
}

.registration-page {
    padding-bottom: 96px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}
.btn {
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    max-width: 160px;
    line-height: 1.2;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 12px 16px;
    text-align: center;
    display: inline-block;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.btn-secondary {
    color: #fff;
    background: #01BAC6;
    border-color: #01BAC6;
}
.link {
    font-size: 14px;
    color: #01BAC6;
    text-decoration: none;
}

.link:hover {
    color: #01BAC6;
    text-decoration: none;
}

.link:focus {
    color: #01BAC6;
    text-decoration: none;
}

.link.link-signin {
    font-size: 16px;
}

.link.link--underline {
    text-decoration: underline;
}


/*а эти нужно*/
.mb30 {
    margin-bottom: 30px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.registration-page {
    padding-top: 80px;
}

.head-regular {
    font-size: 24px;
    font-weight: normal;
    line-height: 0.88;
}

.registration__header {
    margin-bottom: 80px;
}

.registration-form {
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.registration-form__header {
    background-image: linear-gradient(to right, #e30613, #520071 30%, #1392b4);
    padding: 32px 315px 39px 315px;
    color: #ffffff;
}

.registration-form__title {
    margin-bottom: 0;
}

.registration-form__container {
    padding: 60px 315px 78px 315px;
}

.form-item {
    display: block;
    position: relative;
}

.form-item--nobd::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/message.svg') center center no-repeat;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
} 

.form-item__input {
    width: 100%;
    padding: 17px;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.form-item__input--nobd {
    border-bottom: 1px solid #E8E8E8;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-item__input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgb(0 123 255 / 25%);
    box-shadow: 0 0 0 4px rgb(0 123 255 / 25%);
}

.form-item__input:focus + .form-item__name {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.form-item__name {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #757575;
    opacity: 1;
    visibility: visible;
}

.form-item__title {
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 1px;
    left: 2px;
}

.star {
    color: #e30613;
}

.registration__btn {
    max-width: 100%;
    font-size: 16px;
    border-radius: 8px;
    padding: 19px 16px;
}

.registration__btn[disabled] {
    background: #b9b9b9;
    border: 1px solid #b9b9b9;
}

.form-subtitle {
    color: #757575;
    margin-bottom: 5px;
}

.form-item-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 1px solid #E8E8E8;
}

.form-item-radio__input,
.form-item-checkbox__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.form-item-radio__icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #DCDCDC;
    margin-right: 16px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
}

.form-item-radio__icon::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 50%;
    background: #01BAC6;
    transition: all ease .15s;
    cursor: pointer;
}

.form-item-radio__input:checked + .form-item-radio__icon:before {
    opacity: 1;
}

.form-item-checkbox {
    display: flex;
}

.form-item-checkbox__icon {
    min-width: 16px;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 16px;
    margin-top: 3px;
    border-radius: 2px;
    position: relative;
    border: 1px solid #DCDCDC;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.form-item-checkbox__icon:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 2px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #01BAC6;
    position: absolute;
}

.form-item-checkbox__input:checked + .form-item-checkbox__icon:before {
    opacity: 1;
}

.form-item-checkbox__title {
    color: #757575;
}

@media all and (max-width: 1200px) {
    .registration-form__header,
    .registration-form__container {
        padding: 32px 50px 39px;
    }
}